<div class="row">
  <div class="col-sm-12">
    <h2>Something went wrong</h2>
    <p>We ran into a problem while logging you in. Detailed information below.</p>
    <p><pre><%= @error_description %></pre></p>
    <p><%= link_to 'Back to Login', '/login' %></p>
  </div>
</div>
